.header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    position: fixed;
    width: 110dvw;
    padding: 1rem 0rem;
   /*  background: rgba(114, 99, 99, 0.171); */
    backdrop-filter: blur(1rem);
    z-index: 1000;

}
.header-container p{
    font-size: 1.3rem;
    color: var(--white);
    text-transform: uppercase;
}
.header-container p span{
    color: var(--yellow);
    font-weight: bolder;
}


.header-container p svg {
    font-size: 1.8rem;
    position: fixed;
    top: 1rem;
}